<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Easy Plant</title>
</head>
<body>
    <main class="container mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="col-md-8 mx-auto">
            <div class="bg-danger text-white p-4 rounded shadow"> <!-- Rojo Claro -->
                <form id="data-form" action="/" method="post">
                    <div class="container text-center mt-4">
                        <h3 class="bg-danger text-white p-4 rounded shadow">EASY PLANT</h3>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tanque"><strong>Número del tanque:</strong></label>
                                <select class="form-control" id="tanque" name="tanque" required>
                                    <option value="">Selecciona un tanque</option>
                                    <option value="smr-Tk-101">SMR-Tk-101</option>
                                    <option value="smr-Tk-102">SMR-Tk-102</option>
                                    <option value="smr-Tk-103">SMR-Tk-103</option>
                                    <option value="ctg-tk-08">CTG-tk-08</option>
                                    <option value="ctg-tk-09">CTG-tk-09</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="altura_inicial"><strong>Altura inicial (mm):</strong></label>
                                <input type="number" class="form-control" id="altura_inicial" name="altura_inicial" step="0.01" required>
                            </div>
                            <div class="form-group">
                                <label for="altura_final"><strong>Altura final (mm):</strong></label>
                                <input type="number" class="form-control" id="altura_final" name="altura_final" step="0.01">
                            </div>
                            
                        </div>
                
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="volumen"><strong>Volumen neto CarroTk (gls):</strong></label>
                                <input type="number" class="form-control" id="volumen" name="volumen" required>
                            </div>
                            <div class="form-group">
                                <label for="api"><strong>API:</strong></label>
                                <input type="number" class="form-control" id="api" name="api" step="0.1" required>
                            </div>
                            
                            <div class="form-group">
                                <label for="temperatura"><strong>Temperatura (°F):</strong></label>
                                <input type="number" class="form-control" id="temperatura" name="temperatura" step="0.1" required>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <button type="submit" class="btn btn-light">Calcular</button>
                        </div>
                        <div class="col text-center">
                            <label for="galonesDrenados" class="me-2">Galones drenados:</label>
                        </div>
                        <div class="col">
                            <input type="number" name="galonesDrenados" id="galonesDrenados" class="form-control" placeholder="0" width="50">
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="col-md-12 mx-auto">
                <div id="results" class="d-none mt-4 bg-light p-5 rounded shadow">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Altura Inicial: <span id="altura_inicial_result"></span> mm</p>
                            <p>Volumen Inicial: <span id="vol_1_result"></span>.Gls</p>
                            <p>Altura Final: <span id="altura_final_result"></span> mm</p>
                            <p>Volumen Final: <span id="vol_2_result"></span>.Gls</p>
                            <p>Volumen Bruto Recibido:<strong><span id="vol_br_rec_result"></span></strong>YGls</p>
                            <p>Temperatura:<span id="temperatura_result"></span> °F</p>
                        </div>
                        <div class="col-md-6">
                            <p >API Observado:<span id="api_result"></span></p>
                            <p>API Corregido: <span id="api_corregido_result"></span></p>
                            <p>Factor de Corrección: <span id="fac_cor_result"></span></p>
                            <p>Neto liquidado:<strong> <span id="vol_neto_rec_result"></span></strong> galones</p>
                            <p>Neto CarroTK: <strong><span id="volumen_result"></span></strong> galones</p>
                            <p>Diferencias Neto: <strong><span id="diferencia_result"></span></strong> galones</p>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <p id="mensaje_result" ></p>
                    </div>
                    
                </div>
            </div>
        </div>

        <script>
            document.getElementById('data-form').onsubmit = async function(event) {
                event.preventDefault(); // Evitar el envío normal del formulario

                const formData = new FormData(this);
                const response = await fetch(this.action, {
                    method: 'POST',
                    body: formData,
                });

                if (response.ok) {
                    const data = await response.json();
                    // Mostrar resultados
                    document.getElementById('altura_inicial_result').innerText = data.altura_inicial;
                    document.getElementById('vol_1_result').innerText = data.vol_1;
                    document.getElementById('altura_final_result').innerText = data.altura_final;
                    document.getElementById('vol_2_result').innerText = data.vol_2;
                    document.getElementById('vol_br_rec_result').innerText = data.vol_br_rec;
                    document.getElementById('temperatura_result').innerText = data.temperatura;
                    document.getElementById('api_result').innerText = data.api;
                    document.getElementById('api_corregido_result').innerText = data.api_corregido;
                    document.getElementById('fac_cor_result').innerText = data.fac_cor;
                    document.getElementById('vol_neto_rec_result').innerText = data.vol_neto_rec;
                    document.getElementById('volumen_result').innerText = data.volumen;
                    document.getElementById('diferencia_result').innerText = data.diferencia;
                    document.getElementById('mensaje_result').innerText = data.mensaje;
                    document.getElementById('mensaje_result').className = data.mensaje_class; // Establece la clase para el estilo
                    // Mostrar los resultados
                    document.getElementById('results').classList.remove('d-none');
                } else {
                    // Manejo de errores
                    const errorData = await response.json();
                    alert(errorData.error || "Error desconocido");
                }
            };
        </script>
    </main>
</body>
</html>
