<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Easy Plant</title>
    <style>
        .table-danger th, .table-danger td {
            border: 2px solid #dc3545; /* Bordes rojos */
        }

        .table-danger {
            background-color: #f8d7da; /* Fondo claro para la tabla */
        }

        .table-danger th {
            background-color: #dc3545; /* Fondo rojo para el encabezado */
            color: white; /* Texto blanco en el encabezado */
        }

        #results {
            padding: 0; /* Eliminar padding si es necesario */
            width: 100%; /* Asegurar que ocupa el ancho completo */
        }

        .table-responsive {
            width: 100%; /* Asegurar que la tabla ocupe el ancho completo del contenedor */
        }
    </style>
</head>
<body>
    <main class="container-fluid mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="col-md-8 mx-auto">
            <div class="bg-danger text-white p-4 rounded shadow">
                <form id="data-form" action="/" method="post">
                    <div class="container text-center mt-4">
                        <h3 class="bg-danger text-white p-4 rounded shadow">EASY PLANT.1</h3>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tanque"><strong>Número del tanque:</strong></label>
                                <select class="form-control" id="tanque" name="tanque" required>
                                    <option value="">Selecciona un tanque</option>
                                    <option value="smr-Tk-101">SMR-Tk-01</option>
                                    <option value="smr-Tk-102">SMR-Tk-02</option>
                                    <option value="smr-Tk-103">SMR-Tk-03</option>
                                    <option value="smr-Tk-104">SMR-Tk-04</option>
                                    <option value="ctg-tk-08">CTG-tk-08</option>
                                    <option value="ctg-tk-09">CTG-tk-09</option>
                                    <option value="ctg-tk-102">CTG-tk-102</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="altura_inicial"><strong>Altura inicial (CTG-mm/SMR-cm):</strong></label>
                                <input type="number" class="form-control" id="altura_inicial" name="altura_inicial" step="0.01" required>
                            </div>
                            <div class="form-group">
                                <label for="altura_final"><strong>Altura final (CTG-mm/SMR-cm):</strong></label>
                                <input type="number" class="form-control" id="altura_final" name="altura_final" step="0.01">
                            </div>
                        </div>
                
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="volumen"><strong>Volumen neto CarroTk (gls):</strong></label>
                                <input type="text" class="form-control" id="volumen" name="volumen" pattern="^\d+(\.\d{1,3})?$" required>
                            </div>
                            <div class="form-group">
                                <label for="api"><strong>API:</strong></label>
                                <input type="number" class="form-control" id="api" name="api" step="0.1" required>
                            </div>
                            <div class="form-group">
                                <label for="temperatura"><strong>Temperatura (°F):</strong></label>
                                <input type="number" class="form-control" id="temperatura" name="temperatura" step="0.1" required>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <button type="submit" class="btn btn-light">Calcular</button>
                        </div>
                        <div class="col text-center">
                            <label for="galonesDrenados" class="me-2">Galones drenados:</label>
                        </div>
                        <div class="col">
                            <input type="number" name="galonesDrenados" id="galonesDrenados" class="form-control" placeholder="0" width="50">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12 mx-auto">
                <div id="results" class="d-none mt-4 bg-light p-3 rounded shadow">
                    <div class="table-responsive">
                        <table class="table table-light table-striped">
                          <thead>
                            <div class="text-center bg-light p-3">
                                <h5>INFORMACION DE TANQUE DE RECIBO</h5>
                            </div>
                          </thead>
                            <tbody>
                                <tr>
                                    <td id="altura_inicial_result"></td>
                                    <td id="vol_1_result"></td>
                                </tr>
                                <tr>
                                    <td id="altura_final_result"></td>
                                    <td id="vol_2_result"></td>
                                </tr>
                                <tr>
                                    <td>Volumen Bruto Recibido</td>
                                    <td><strong><span id="vol_br_rec_result"></span></strong></td>
                                </tr>
                                <tr>
                                    <td>Temperatura</td>
                                    <td id="temperatura_result"></td>
                                </tr>
                                <tr>
                                    <td>API Observado</td>
                                    <td id="api_result"></td>
                                </tr>
                                <tr>
                                    <td>API Corregido</td>
                                    <td id="api_corregido_result"></td>
                                </tr>
                                <tr>
                                    <td>Factor de Corrección</td>
                                    <td id="fac_cor_result"></td>
                                </tr>
                                <tr>
                                    <td>Neto liquidado</td>
                                    <td><strong><span id="vol_neto_rec_result"></span></strong></td>
                                </tr>
                                <tr>
                                    <td>Neto CarroTK</td>
                                    <td><strong><span id="volumen_result"></span></strong></td>
                                </tr>
                                <tr>
                                    <td>Diferencias Neto</td>
                                    <td><strong><span id="diferencia_result"></span></strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center mt-4">
                        <p id="mensaje_result"></p>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.getElementById('volumen').addEventListener('input', function() {
                // Reemplazar comas por puntos
                this.value = this.value.replace(',', '.');
                
                // Validar el formato y limitar a 3 decimales
                const parts = this.value.split('.');
                if (parts.length > 1 && parts[1].length > 3) {
                    this.value = parts[0] + '.' + parts[1].substring(0, 3);
                }
            });
        
            // Variable para determinar la unidad
            let unidadAltura = 'mm';
        
            // Función para actualizar la unidad según el tanque seleccionado
            document.getElementById('tanque').addEventListener('change', function() {
                if (this.value.startsWith('smr')) {
                    unidadAltura = 'cm';
                } else {
                    unidadAltura = 'mm';
                }
            });
        
            document.getElementById('data-form').onsubmit = async function(event) {
                event.preventDefault(); // Evitar el envío normal del formulario
        
                const formData = new FormData(this);
                const response = await fetch(this.action, {
                    method: 'POST',
                    body: formData,
                });
        
                if (response.ok) {
                    const data = await response.json();
                    // Mostrar resultados con la unidad adecuada
                    document.getElementById('altura_inicial_result').innerText = data.altura_inicial + ' ' + unidadAltura;
                    document.getElementById('vol_1_result').innerText = data.vol_1 + '.Gls'; 
                    document.getElementById('altura_final_result').innerText = data.altura_final + ' ' + unidadAltura;
                    document.getElementById('vol_2_result').innerText = data.vol_2 + '.Gls'; 
                    document.getElementById('vol_br_rec_result').innerText = data.vol_br_rec + '.Gls'; 
                    document.getElementById('temperatura_result').innerText = data.temperatura + '°F';
                    document.getElementById('api_result').innerText = data.api;
                    document.getElementById('api_corregido_result').innerText = data.api_corregido;
                    document.getElementById('fac_cor_result').innerText = data.fac_cor;
                    document.getElementById('vol_neto_rec_result').innerText = data.vol_neto_rec + '.Gls'; 
                    document.getElementById('volumen_result').innerText = data.volumen + '.Gls'; 
                    document.getElementById('diferencia_result').innerText = data.diferencia + '.Gls'; 
                    document.getElementById('mensaje_result').innerText = data.mensaje;
                    document.getElementById('mensaje_result').className = data.mensaje_class; // Establece la clase para el estilo
                    // Mostrar los resultados
                    document.getElementById('results').classList.remove('d-none');
                } else {
                    // Manejo de errores
                    const errorData = await response.json();
                    alert(errorData.error || "Error desconocido");
                }
            };
        
            // Llamar a la función al cargar la página para establecer la unidad inicial
            document.getElementById('tanque').dispatchEvent(new Event('change'));
        </script>

    </main>
</body>
</html>
